@import carousel.css;

header {
    display: block;
    padding: 0px 0px 100px 0px;
}

#websiteLogo { float:left; }

#horzNav {
    display: block;
    position: fixed;
    padding: 10px 20px 10px 0px;
    background: white;
}

#horzNav a {
    text-decoration: none;
    padding: 0px 0px 0px 20px;
    color: #9d9d9d;
}

#contentBlock {
    margin-top: 48px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* 1em = 12pt = 16px = 100% */
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.wrap {
    /* force the div to properly contain the floated images: */
    position: relative;
    float: left;
    clear: none;
    overflow: hidden;
}
.wrap img {
    position: relative;
    z-index: 1;
}
.wrap .desc {
    display: block;
    position: absolute;
    width: 100%;
    top: 30%;
    left: 0;
    z-index: 2;
    text-align: center;
}

.divCenter {
    text-align: center;
}

.spanStretch {    
    display: inline-block;
    margin-top: 25px;
    font-size: 1.5em; /* 18pt / 12pt */
    font-family: Arial;
    font-weight: bold;
    color: #9d9d9d;
    transform: scale(1.1,2.5);
    -webkit-transform: scale(1.1,2.5);
}

div#mainBenefits { 
    margin: 0 auto;
    text-align: center;
    height: 350px;
}

div.benefitDiv { 
    display: inline-block;
    margin: 0px 50px;
}

div.benefitDiv > span {
    font-family: Arial;
    font-weight: bold;
    font-size: 1.167em;
    color: #4d4d4d
}

div#screenshots {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

div.screenshot {
    display: inline-block;
    margin: 0px 50px;
}

div.screenshot > img {
    height: 150px;
    border: 1px solid black;
}

div.screenshot > span {
    font-family: Arial;
    font-weight: bold;
    font-size: 1.167em;
    color: #4d4d4d
}

div.getBig:hover {
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
    -ms-transform: scale(3);
}

div.divider {
    background-color:#259ca7;
    height:75px;
    color:#FFFFFF;
    margin: 20px 0px 0px 0px;
    text-align:center;
}

div.divider > h2 {
    padding-top:20px
}

div.bottomBar {
    background-color: #e44f3d;
    height:75px;
    width: 100%;
    color:#FFFFFF;
    margin: 20px 0px 0px 0px;
    text-align:center;
    position: absolute;
    left: 0;
}

div.feature {
    height: 330px;
    /*width: 500px;*/
    width: 26%;
    min-width: 400px;
    background: #fefefe;
    border-radius: 25px;
    /*color:#9d9d9d;*/
    color: #7a7a7a;
    font-family: Arial;
    font-size: 1em;
    margin: 20px;
    /*padding-top: calc((500px - 26%) / 3);*/
}

div.feature > div.leftFeature {
    width: 150px;
    height: 330px;
    /*background:#9d9d9d;*/
    background: #888888;
    border-radius: 25px;
    padding: 10px;
    float: right;
}

div.feature > div.leftHeader {
    color:#000000;
}

div.feature > div.leftDesc {
    width:100%;
}

div.feature > div.rightFeature {
    height: 330px;
    width: 150px;
    /*background:#9d9d9d;*/
    background:#888888;
    border-radius:25px;
    padding:10px;
    float: left;
}

div.feature > div.rightHeader {
    color:#000000;
    float:right;
    direction:rtl;
    text-align:justify
}

div.feature > div.rightDesc {
    width:90%;
    float:right;
    direction:rtl;
    text-align:justify;
}

div.signup {
    height: 65px;
    width: 200px;
    background: #01d028;
    border-radius: 12px;
    padding: 7px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 1em;
    text-align: center;
}

div.signup > a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.167em;
    font-family: Arial;
}

div.signup > a:hover {
    color:#393838;
}

a.navLink {
    font-size: 1.333em;
}

div#mainText {
    /*height:275px;
    width: 500px;*/
    /*background:#fdfcfc;*/
    /*border-radius:25px;*/
    /*color:#9d9d9d;*/
    color: #e3e3e3;
    font-family: Arial;
    font-size: 1.333em;
    margin: 10px;
}

.fadein img {
    position: absolute;
    left: 10%;
    top: 0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 15s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 15s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#img1 {
    /*background-color: lightblue;*/
    border-radius:25px;
    margin-top: 40px;
}

#img2 {
    -webkit-animation-delay: -10s;
    /*background-color: yellow;*/
    border-radius:25px;
    margin-top: 40px;
}

#img3 {
    -webkit-animation-delay: -5s;
    /*background-color: lightgreen;*/
    border-radius:25px;
    margin-top: 40px;
}

#mainText {
    position: absolute;
    left: calc(15% + 650px);
    top: 40%;
}

.featureIcon {
    -webkit-filter: brightness(5);
    filter: brightness(5);
}

.logoImage {
    -webkit-filter: brightness(1.25);
    filter: brightness(1.25);
}