<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow" />

    <link rel="stylesheet" type="text/css" href="{: static path="css/bootstrap.css" :}" /> <!-- bootstrap.min.css -->
    <link rel="stylesheet" type="text/css" href="{: static path="css/site.css" :}" />
    <link rel="icon" href="{: static path="images/favicon.ico" :}" type="image/x-icon" />

    <script src="{: static path="scripts/modernizr.js" :}"></script>

    <title>{: value name="siteName" :}</title>
</head>

<body style="background:#eeeeee"> <!--5c5c5c f3f3f3-->
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background: #fcfcfc; border-color: #9d9d9d;"> <!-- style="background: #363636 FCFCFC; border-color: #9d9d9d;" -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><img height="75" class="logoImage" style="margin-top: -10px;" src="{: static path="images/eastwoodshead.png" :}">
          <span class="spanStretch">Eastwood</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="margin-top:20px;">
                <li><a href="/about" class="navLink">About</a></li>
            </ul>
            {: include path="loginpartial.html" :}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container body-content" id="contentBlock" style="color:#7e7e7e;">
        {: block name="content" :}
    </div>

    <footer style="margin-top:50px;">
        <!-- <hr/> -->
        <p style="color:#ebebeb;margin-left:50px;">&copy; {: function name="getYear" :} - Eastwood</p>
    </footer>

    <script src="{: static path="scripts/jquery-1.11.3.js" :}"></script>
    <script src="{: static path="scripts/bootstrap.js" :}"></script>
    <script src="{: static path="scripts/respond.js" :}"></script>
</body>
</html>
